// general
$border: 1px solid #E2E6E9;
$border-grey: 1px solid #B4BDC3;
$border-active: 1px solid #313237;
$white-color: #E2E6E9;
$font-color: #89939A;
$active-link-color: #313237;
$page-margins: 152px;

// header
$header-height: 64px;
$header-margin: 64px;

// footer
$footer-margin: 64px;

// slider
$slider-right-margin: 16px;

// psychologistCard
$psychologist-card-width: 272px;
$psychologist-card-height: 200px;
$psychologist-card-black-font-color: #313237;
$psychologist-card-grey-font-color: #89939A;

// mobile
$mob-font-size: 8px;
$mob-margins-header-footer: 10px;
